::root {
    --light: #E5ECFB;
    --lightMed: #68779B;
    --med: #8490AB;
    --medDark: #4D5F8A;
    --dark: #4D5F8A;
    --bgDark: #151818;
}

/* Universal */

h1 {
    text-align: center;
}

header {
    padding-top: 40px;
}

#flexbox {
    justify-content: space-between;
}

button {
    margin: 10px;
}

p {
    margin: 10px;
}